<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
              <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/dashboard">Summary</a>
                </li>
                <li>
                  <a href="/analytics">Analytics</a>
                </li>
                <li>
                  <a href="/viral">Viral</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/users"><i class="fa fa-user fa-fw"></i> Users</a>
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-users fa-fw"></i> Manage Users<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/userlist">List</a>
                </li>
                <li>
                  <a href="/sendmessage">Send Message</a>
                </li>
              </ul>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Manage Props! Types<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/typelist">List</a>
                    </li>
                    <li>
                        <a href="/newtype">New Type</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Manage Props! Levels<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/levellist">List</a>
                    </li>
                    <li>
                        <a href="/newlevel">New Level</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/manageemails"><i class="fa fa-sitemap fa-fw"></i> Manage Admin Accounts</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Manage Ads<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/adlist">List</a>
                    </li>
                    <li>
                        <a href="/newadvertisement">New Ad</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="/sitecontents"><i class="fa fa-folder-open fa-fw"></i> Site Contents</a>
            </li>
            <li>
                <a href="/newos"><i class="fa fa-gears fa-fw"></i> Add OS</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->