<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Props!' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/dependencies/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/dependencies/sb-admin-2.css">
    <link rel="stylesheet" href="/styles/importer.css">
    
  </head>

  <body>
    <%- body %>

    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
   
  </body>
</html>
