<div id="wrapper">
  
    <% include ../partials/_navheader %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Props! Level</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                    
                                        <div class="form-group">
                                          <label>Level Name: </label>
                                          <input class="form-control" placeholder="Level Name">
                                        </div>
                                        <div class="form-group">
                                            <label>Select Icon: </label>
                                            <input type="file">
                                        </div>
                                        <div class="form-group">
                                          <label>Start Range: </label>
                                          <input class="form-control" placeholder="Start Range">
                                        </div>
                                        <div class="form-group">
                                          <label>End Range: </label>
                                          <input class="form-control" placeholder="End Range">
                                        </div>
                                        
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>

                        <div class="panel-heading">
                          <button type="submit" class="btn btn-default">Cancel</button>
                          <button type="reset" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        
    </div>
    <!-- /#page-wrapper -->

</div>